<h1> Rover's Control Panel </h1>
<hr />

<% form_tag "panel/move" do %>
  <fieldset>
    <legend> Plateau's setting </legend>
  
    <p>
      <%= label_tag :upper_right_coordinates %>:
      <%= text_field_tag :upper_right_coordinates %> example: 5 5
    </p>

  </fieldset>
  
  <fieldset>
    <legend> Rover's Move </legend>
  
    <div id="rover_move">
    
      <div class="rover_command">
        <p>
          <%= label_tag :current_position %>:
          <%= text_field_tag "current_position[]" %> example: 1 2 N
        </p>
    
        <p>
          <%= label_tag :move_command %>:
          <%= text_field_tag "move_command[]" %> example: LMLMLMLMM
        </p>
      </div>
    </div>
    
    <%= link_to "Add more move", "#", :id => "add_more_move" %>
  </fieldset>
  
  <%= submit_tag "GO", :id => "go_submit", :value => "submit" %>
  
<% end %>
